@model CloudComputingUTN.WebApp.Models.ArtistsListViewModel

@{
    ViewData["Title"] = "Index";
}
<partial name="_Alert"/>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artists.FirstOrDefault().ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists.FirstOrDefault().ArtistWikiPage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Artists) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                <a href="@item.ArtistWikiPage" target="_blank">@item.ArtistWikiPage</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
