@model CloudComputingUTN.WebApp.Models.ArtworkViewModel

@{
    ViewData["Title"] = "Details";
}
<partial name="_Alert"/>
@if (Model.RecordFound)
{
    <h1>Details</h1>

    <div>
        <h4>Artwork</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artwork.ArtworkName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artwork.ArtworkYear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artwork.ArtworkDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artwork.ArtworkURL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artwork.ArtworkURL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artwork.Artist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artwork.Artist.ArtistName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Artwork.ArtworkId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

}