@model CloudComputingUTN.Entities.Artwork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artwork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtworkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtworkYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtworkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtworkURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtworkURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtworkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
