@model IEnumerable<CloudComputingUTN.Entities.Artwork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtworkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtworkYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtworkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtworkURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtworkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtworkYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtworkDescription)
            </td>
            <td>
                <a href="@item.ArtworkURL" target="_blank">Browse</a>
            </td>
            <td>
                <a asp-controller="Artists" asp-action="Details" asp-route-id="@item.ArtistId">@item.Artist.ArtistName</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtworkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtworkId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
